<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-md-6 col-lg-4 ">
          <div class="footer-block">
            <div class="footer-logo">
              <a href="/">
                <img src="assets/images/logo.png" alt="MetVita">
              </a>
            </div>
            <p class="footer-text">Com mais de 15 anos de existência,
              a clínica MedVita reúne cerca de 12 médicos de excelência e conta com consultórios e laboratórios modernos.
            </p>

          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-lg-4">
          <div class="footer-block">
            <h3 class="footer-title">Conheça</h3>
            <ul class="links">
              <li><a href="#">Início</a></li>
              <li><a href="#">Sobre</a></li>
              <li><a href="#">Contato</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4  col-md-6 col-lg-4">
          <div class="footer-block">
            <h3 class="footer-title">Horário de Atendimento</h3>
            <ul class="horario">
              <li class="d-flex justify-content-between "><span>Segunda a Sexta</span> <span>08:00 - 19:00</span></li>
              <li class="d-flex justify-content-between "><span>Sábado</span> <span>09:00 - 17:00</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right-block">
    <div class="container">
      <div class="row">
        <div class="divisor"></div>
        <div class="col-xl-12">
          <p class="copy-right text-center">
            Copyright &copy;2020
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
