<article class="page">
  <section class="title-section title-bg-1">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="title-text">
            <h2>Sobre a clínica</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sobre-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6">
          <div class="sobre-section-thumb">
            <div class="sobre-section-thumb-1">
              <img src="assets/images/medico1.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="sobre-section-text">
            <h3>A clínica médica
              <span>MedVita</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni.</p>
            <ul>
              <li> <i class="fas fa-check-circle"></i> Lorem ipsum dolor sit amet </li>
              <li> <i class="fas fa-check-circle"></i> Consectetur adipisicing elit, sed do</li>
              <li> <i class="fas fa-check-circle"></i> Eiusmod tempor incididunt ut labore </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-qualidades">
    <div class="container">
      <div class="row justify-content-center ">
        <div class="col-lg-6">
          <div class="titulo-secao mb-55 text-center">
            <h3>A sua saúde é a nossa maior prioridade!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="bloco-qualidade">
            <div class="icon">
              <i class="fas fa-clinic-medical"></i>
            </div>
            <h3>Consultas</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="bloco-qualidade">
            <div class="icon">
              <i class="fas fa-syringe"></i>
            </div>
            <h3>Exames</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="bloco-qualidade">
            <div class="icon">
              <i class="fas fa-user-md"></i>
            </div>
            <h3>Especialistas</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</article>
