@import "../../layout/scss/shared";

.modal-header, .modal-footer {
  border: none;
}

.modal-body {
  @include mid_device {
    padding: 0 2rem;
  }

  h2 {
    font-size: 35px;
    color: #222222;
    font-weight: 100;
    line-height: 50px;
    margin-bottom: 30px;
    text-align: center;
    span {
      font-weight: 600;
      display: block;
    }

    @include mid_device {
      font-size: 50px;
    }
  }

  h3 {
    margin-bottom: 25px;
  }

  label {
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }

  .especialidades {
    max-width: 100%;
    font-family: $font1;
    height: 2.5em;
    border: 1px solid $cor_primaria;
    //border-bottom: 2px solid $cor_primaria;
    font-weight: 500;
    border-radius: 10px;

    &:focus, &:active {
      outline: 0;
    }
  }

  .agendamento-com {
    font-size: 16px;
    font-weight: 500;
    color: $cor_primaria;
  }

  .sucesso {
    text-align: center;
    p {
      color: #333;
    }
  }
}
