<article class="page">
  <section class="title-section title-bg-2">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="title-text">
            <h2>Contato</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contato-section">
    <div class="container">

      <div class="row">
        <div class="col-12">
          <h2 class="contato-titulo">Fale Conosco</h2>
        </div>
        <div class="col-lg-8">
          <form class="form-contact" id="contactForm">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <textarea class="form-control w-100" name="mensagem" cols="30" rows="9" placeholder="Mensagem" aria-label="Mensagem"></textarea>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input class="form-control" name="nome" type="text" placeholder="Seu nome" aria-label="Seu nome">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control valid" name="email" type="email" placeholder="Seu e-mail" aria-label="Seu e-mail">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control valid" name="telefone" type="text" placeholder="Seu telefone" aria-label="Seu telefone">
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <button type="submit" class="button button-contactForm btn1">Enviar</button>
            </div>
          </form>
        </div>
        <div class="col-lg-3 offset-lg-1">
          <div class="media info-contato">
            <span class="icon"><i class="fas fa-hospital"></i></span>
            <div class="contato-texto">
              <h3>Endereço:</h3>
              <p>
                Av. das Américas, 9999<br>
                Barra da Tijuca<br>
                Rio de Janeiro - RJ<br>
                22640-102
              </p>
            </div>
          </div>
          <div class="media info-contato">
            <span class="icon"><i class="fas fa-phone"></i></span>
            <div class="contato-texto">
              <h3>Telefones:</h3>
              <p>(21) 3600-0000</p>
              <p>(21) 3600-0001</p>
            </div>
          </div>
          <div class="media info-contato">
            <span class="icon"><i class="fas fa-envelope"></i></span>
            <div class="contato-texto">
              <h3>E-mail:</h3>
              <p><a href="mailto:contato@medvita.test">contato@medvita.test</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
