@import 'variaveis';
@import 'media_queries';
@import 'mixins';

.page {
  padding-top: $header-height;
  @include mid_device {
    padding-top: 0;
  }
}

.img {
  max-width: 100%;
  @include transition(.3s);
}

a, .button, button {
  @include transition(.3s);
}


.overlay {
  position: relative;
  z-index: 0;

  &::before {
    position: absolute;
    content: "";
    background: rgb(0, 0, 28);
    background: linear-gradient(0deg, rgba(0, 28, 100, 0.8) 21%, rgba(0, 53, 187, 0.3) 60%, $cor_primaria 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}


.title-bg-1 {
  background-image: url('../../../../assets/images/banner_interno1.png');
}

.title-bg-2 {
  background-image: url('../../../../assets/images/banner_interno2.png');
}

.title-section {
  background-size: cover;
  background-position: center center;
  padding: 150px 0 120px 0;

  background-repeat: no-repeat;
  @include mid_device {
    padding: 275px 0 165px 0;
  }

  h2 {
    font-size: 35px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0;
    @include mid_device {
      font-size: 50px;
    }
  }

  p {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;

    a {
      color: #fff;

      &:hover {
        color: #fff;
      }
    }
  }
}
