@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$font1:  'Roboto', sans-serif;

$header-height: 84px;

$cor_primaria: #00bfa5;
$cor_secundaria: #1c2f47;

$cor_titulo: #1a1a1a;

$cor_texto1: #222;
$cor_texto2: #296ea4;

