@import "../../layout/scss/shared";

:host {

  display: flex;
  margin-bottom: 40px;

  box-shadow: 0 0 15px 0 rgba($cor_primaria, 0.25);
  @include border-radius(20px);

  &:hover {
    box-shadow: 0 0 30px 0 rgba($cor_primaria, 0.4);
    .box-medico-thumb {
      img {
        @include transform(scale(1.1));
      }
    }
  }

  .box-medico-thumb {
    overflow: hidden;

    img {
      @include transition(.3s);
      @include transform(scale(1));
      width: 100%;
    }
  }

  .box-medico-nome {
    background: #fff;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: space-between;

    h5 {
      font-size: 16px;
      @include mid_device {
        font-size: 18px;
      }
      font-weight: 500;
      @include transition(.3s);
      color: $cor_primaria;
      margin-bottom: 6px;

      display: -webkit-box;
      //noinspection CssUnknownProperty
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span {
      color: #738ea9;
      font-size: 14px;
      @include transition(.3s);
      display: block;
      font-weight: 400;
      font-family: $font1;
      white-space: nowrap;
      overflow: hidden;
    }

    .btn {
      margin: 10px 5px;
    }
  }

  &.style1 {
    flex-direction: column;
    .box-medico-thumb {
      height: 250px;
    }
    .box-medico-nome {
      padding: 20px;
      min-height: 215px;
      @include transform(translateY(-30px));

      h5 {
        min-height: 75px;
      }
    }
  }

  &.style2 {
    flex-direction: row;
    height: 85%;
    padding: 8px;

    .box-medico-thumb {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      img {
        min-width: 100%;
        min-height: 100%;
      }
    }
    .box-medico-nome {
      flex: 1 0 66.666667%;
      max-width: 66.666667%;
      padding: 8px;

      h5 {
        min-height: 60px;
        //noinspection CssUnknownProperty
        -webkit-line-clamp: 3;
      }
    }
  }
}
