<div class="box-medico-thumb">
    <img src="{{professional.foto || 'assets/images/user-dummy.png'}}" alt="{{professional.nome}}">
</div>
<div class="box-medico-nome text-center">
  <h5>{{professional.tratamento || null}} {{professional.nome}}</h5>
  <span *ngIf="professional.conselho && professional.documento_conselho">
    {{professional.conselho}}{{professional.uf_conselho ? '-' + professional.uf_conselho.toUpperCase() : ''}}:
    {{professional.documento_conselho}}
  </span>
  <button class="btn btn2" (click)="agendar()">Agendar</button>
</div>
