<article class="page">
  <section class="banner-area">
    <div class="slider_active">
      <div class="banner-simples  d-flex align-items-center banner-bg1 overlay">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="banner-text">
                <h3> <span>Excelência em saúde</span> <br>
                  com os mais renomados médicos.</h3>
                <a (click)="scrollToEspecialidades()" class="banner-btn">Conheça nossos profissionais
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="area-apresentacao">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6">
          <div class="apresentacao-foto">
            <div class="sobre-section-thumb-1">
              <img src="assets/images/clinica.jpg" alt="Clínica MedVita">
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="apresentacao-info">
            <h3>Bem vindo(a) a clínica <span>MedVita</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni.</p>
            <a routerLink="sobre">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="area-corpo-clinico">
    <div class="container">
      <div class="row custom_align align-items-end justify-content-between">
        <div class="col-lg-12">
          <div class="titulo-secao">
            <h3>Nossos profissionais</h3>
            <p>Nosso centro médico reúne excelentes profissionais.<br>Estamos preparados para oferecer o melhor em saúde e eficiência no atendimento.</p>
            <div class="bloco-especialidades text-center">
              <select class="select-especialidades" [formControl]="especialideSelecionada" aria-label="Selecione uma especialidade">
                <option [ngValue]="null">Selecione uma especialidade</option>
                <option *ngFor="let specialty of especialidades" [ngValue]="specialty">{{specialty.nome}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row" [hidden]="!loading">
        <div class="loader">Aguarde...</div>
      </div>
      <app-professional-grid [specialty]="especialideSelecionada.value" [professionals]="profissionais" [hidden]="loading"></app-professional-grid>
      <div class="row">
        <div class="col-lg-12">
          <div class="btn-conheca mt-10">
            <a href="#"> ou pesquise todo o corpo clínico</a>
          </div>
        </div>
      </div>
    </div>
  </section>

</article>
