<article class="page">
  <section class="banner-area">
    <div class="slider_active">
      <div class="banner-simples  d-flex align-items-center banner-bg1 overlay">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="banner-text">
                <h3> <span>Excelência em saúde</span> <br>
                  com os mais renomados médicos.</h3>
                <a href="#" class="banner-btn">Conheça nosso corpo clínico
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="area-apresentacao">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6">
          <div class="apresentacao-foto">
            <div class="sobre-section-thumb-1">
              <img src="assets/images/clinica.jpg" alt="Clínica MedVita">
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="apresentacao-info">
            <h3>Bem vindo(a) a clínica <span>MedVita</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni.</p>
            <a routerLink="sobre">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="area-corpo-clinico">
    <div class="container">
      <div class="row custom_align align-items-end justify-content-between">
        <div class="col-lg-7">
          <div class="titulo-secao">
            <h3>Corpo Clínico</h3>
            <p>Nosso centro médico reúne excelentes profissionais.<br>Estamos preparados para oferecer o melhor em saúde e eficiência no atendimento.</p>
            <div class="bloco-especialidades">
              <select class="select-especialidades" aria-label="Selecione uma especialidade">
                <option>Selecione uma especialidade</option>
              </select>
            </div>
          </div>
        </div>

      </div>
      <div class="row justify-content-center ">
        <div class="col-lg-6">
          <div class="text-center">
            <h4>Cardiologistas</h4>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div class="box-medico">
            <div class="box-medico-thumb">
              <img src="assets/images/medico2.png" alt="">
            </div>
            <div class="box-medico-nome text-center">
              <h3>Dr. Vinicius Maia</h3>
              <span>CRM: 5200011</span>
              <button class="btn btn4">Agendar</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="box-medico">
            <div class="box-medico-thumb">
              <img src="assets/images/medico3.png" alt="">
            </div>
            <div class="box-medico-nome text-center">
              <h3>Dra. Carlos da Silva</h3>
              <span>CRM: 5200011</span>
              <button class="btn btn4">Agendar</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="box-medico">
            <div class="box-medico-thumb">
              <img src="assets/images/medico4.png" alt="">
            </div>
            <div class="box-medico-nome text-center">
              <h3>Dra. Naiara Azevedo</h3>
              <span>CRM: 5200011</span>
              <button class="btn btn4">Agendar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="btn-conheca">
            <a href="#" class="btn1">Conheça todo o corpo clínico</a>
          </div>
        </div>
      </div>
    </div>
  </section>

</article>
