@import "../../layout/scss/shared";

.banner-area {

  .banner-bg1 {
    background-image: url('../../../assets/images/banner.png');
  }

  .banner-simples {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include mid_device {
      height: 700px;
    }
    @include large_device {
      height: 960px;
    }

    .banner-text {
      > span {
        text-transform: uppercase;
        font-size: 18px;
        color: #fff;
        font-weight: 400;
        font-family: $font1;
        display: block;
      }

      h3 {
        color: #fff;
        font-family: $font1;
        font-size: 33px;
        line-height: 1.2;
        font-weight: 300;
        margin-top: 22px;
        margin-bottom: 20px;

        span {
          font-weight: 700;
        }

        @include mid_device {
          font-size: 55px;
          line-height: 65px;
          margin-bottom: 42px;
        }
        @include large_device {
          font-size: 70px;
          line-height: 85px;
        }
      }

      p {
        font-size: 16px;
        font-weight: 400;
        color: #727272;
        margin-bottom: 40px;
        margin-top: 10px;
        @include mid_device {
          font-size: 18px;
        }
      }
    }

    .banner-btn {
      border: 1px solid #fff;
      color: #fff;
      display: inline-block;
      padding: 17px 44px;
      font-family: $font1;
      font-size: 16px;
      font-weight: 400;
      @include border-radius(4px);
      text-align: center;
      @include transition(.5s);
      cursor: pointer;

      &:hover {
        background: #fff;
        color: #000;
        border: 1px solid #fff;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.area-apresentacao {
  padding-top: 50px;
  padding-bottom: 40px;

  @include mid_device {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .apresentacao-foto {
    position: relative;
    z-index: 0;

    .sobre-section-thumb-1 {
      left: 0;
      position: relative;

      @include mid_device {
        margin-right: 30px;
      }

      &::before {
        background: #ebebeb;
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        z-index: -1;
        @include border-radius(5px);
        left: -30px;
        bottom: -30px;
      }

      img {
        width: 100%;
        @include border-radius(5px);
      }
    }
  }

  .apresentacao-info {

    padding-left: 0;
    margin-top: 80px;

    @include large_device {
      padding-left: 40px;
      margin-top: 20px;
    }

    h3 {
      font-weight: 300;
      font-size: 30px;
      line-height: 1.2;
      margin-bottom: 40px;

      span {
        color: #1a1a1a;
        font-weight: 700;
      }

      @include mid_device {
        font-size: 50px;
        line-height: 60px;
      }

      br {
        @include small_device {
          display: none;
        }
      }
    }

    p {
      font-size: 16px;
      color: #6b6a6a;
      line-height: 28px;
    }

    ul {
      margin-bottom: 46px;
      margin-top: 20px;

      li {
        color: #1a1a1a;
        font-size: 16px;
        line-height: 44px;
        position: relative;
        padding-left: 40px;
        @include small_device {
          line-height: 30px;
        }

        i {
          margin-right: 15px;
          color: #84dfff;
          font-size: 20px;
          position: absolute;
          top: 50%;
          @include transform(translateY(-50%));
          left: 0;
          @include small_device {
            top: 0;
            @include transform(translateY(0%));
          }
        }
      }
    }
  }
}

.area-corpo-clinico {
  padding-top: 40px;
  padding-bottom: 40px;

  @include mid_device {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .bloco-especialidades {
    text-align: center;

    @include mid_device {
      text-align: left;
    }

    .select-especialidades {
      font-family: $font1;
      margin: 1em 0;
      padding: 0.8em;
      border: 1px solid $cor_primaria;
      border-bottom: 2px solid $cor_primaria;
      font-weight: 500;
      border-radius: 10px;
      &:focus, &:active {
        outline: 0;
      }
    }
  }

  .box-medico {
    margin-bottom: 40px;
    box-shadow: 1px 1px 30px 0 rgba($cor_primaria, 0.15);
    border-radius: 20px;

    .box-medico-thumb {
      overflow: hidden;

      img {
        @include transition(.3s);
        @include transform(scale(1));
        width: 100%;
      }
    }

    .box-medico-nome {
      background: #fff;
      padding: 22px 70px 25px 70px;
      position: relative;
      @include transform(translateY(-30px));
      @include small_device {
        padding: 20px;
      }

      h3 {
        font-size: 20px;
        font-weight: 500;
        @include transition(.3s);
        color: $cor_primaria;
        margin-bottom: 6px;

        min-height: 75px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        @include mid_device {
          font-size: 30px;
        }
      }

      span {
        color: #738ea9;
        font-size: 16px;
        @include transition(.3s);
        display: block;
        font-weight: 400;
        font-family: $font1;
      }
    }

    &:hover {
      box-shadow: 1px 1px 30px 0 rgba($cor_primaria, 0.2);
      .box-medico-thumb {
        img {
          @include transform(scale(1.1));
        }
      }
    }
  }

  .btn-conheca {
    text-align: center;
    @include mid_device {
      text-align: right;
    }
  }
}
